.call-to-action{
	background-color: #f3f3f5;
	padding: 30px 0;
	.call-action-wrap{
		border-left: 5px solid $color1;
		padding: 30px 0 40px 23px;
		h2{
			color: $color1;
		}
		h3{
			color: #767676;
			margin-bottom: 0;
		}
		.button-group{
			float: right;
			.hire-me{
				background-color: $color1;
				padding: 10px 40px;
				border-radius: 30px;
				margin-bottom: 20px;
				color: #fff;
				display: block;
				text-decoration: none;
				text-align: center;
				overflow: hidden;
				vertical-align: middle;
				-webkit-transform: perspective(1px) translateZ(0);
				transform: perspective(1px) translateZ(0);
				box-shadow: 0 0 1px transparent;
				position: relative;
				-webkit-transition-property: color;
				transition-property: color;
				-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
				&:before{
				    content: "";
				    position: absolute;
				    z-index: -1;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    border-radius: 30px;
				    background: $color2;
				    -webkit-transform: scaleX(0);
				    transform: scaleX(0);
				    -webkit-transform-origin: 0 50%;
				    transform-origin: 0 50%;
				    -webkit-transition-property: transform;
				    transition-property: transform;
				    -webkit-transition-duration: 0.3s;
				    transition-duration: 0.3s;
				    -webkit-transition-timing-function: ease-out;
				    transition-timing-function: ease-out;
				}
				&:hover{
					&:before{
						transform: scaleX(1);
					}
				}
			}
			.hire-skype{
				@extend .hire-me;
				background-color: #03a9f4;
				margin-bottom: 0;
				&:before{
					background-color: #068fcd;
				}
			}
		}

	}
}