.smartweb-tab-3{
	.smartweb-tab-3-nav{
		li{
			display: table-cell;
			width: 1%;
			text-align: center;
			float: none;
			border-top: 3px solid transparent;
			&.color_tab_1{
				background-color: $color1;
				&.active{
					border-top: 3px solid $color4;
				}
			}
			&.color_tab_2{
				background-color: $color2;
				&.active{
					border-top: 3px solid $color3;
				}
			}
			&.color_tab_3{
				background-color: $color3;
				&.active{
					border-top: 3px solid $color1;
				}
			}
			&.color_tab_4{
				background-color: $color4;
				&.active{
					border-top: 3px solid $color2;
				}
			}
			&
			a{
				padding: 20px 0;
				color: #fff;
				text-align: center;
				@include font-size(20);
				font-weight: 700;
				text-transform: uppercase;
				&:hover,
				&:focus{
					background-color: transparent;
				}
				i{
					display: block;
					margin-bottom: 10px;
					&:before{
						@include font-size(30);
						font-weight: normal;
					}
				}
				p{
					display: block;
					text-transform: initial;
					@include font-size(12);
					font-weight: 300;
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}
	>.tab-content{
		>.tab-pane{
			padding-top: 30px;
		}
	}
}