body {
	
}

#content {
	color:#000000;
	font-family:tahoma;
	font-size:14px;
	margin:0 auto;
	width:800px;
	margin-top:1px;
}

#content a{
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
	text-decoration:underline;
}

.popup {
    background-color: #ffffff;
    color: #888888;
    height: 300px;
    left: 100%;
    padding: 20px;
    position: fixed;
    right: 30%;
    top: 25%;
    /*width: 600px;*/
    z-index: 101;
	/*border:5px solid #888888;*/
	-moz-box-shadow: 0px 0px 10px 1px #888888;
	-webkit-box-shadow: 0px 0px 10px 1px #888888;
	box-shadow: 0px 0px 10px 1px #888888;
	border-radius:10px;
	-moz-border-radius:10px;
}

.overlay {
    background: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
	opacity:0.5;
}

a.close {
    background: url("popup/cerrar.png") repeat scroll left top transparent;
    cursor: pointer;
    float: right;
    height: 26px;
    left: 32px;
    position: relative;
    top: -33px;
    width: 26px;
}

.portada{
   background: url(popup/popup.jpg) no-repeat fixed center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100% ;
   text-align: center;
 
}
.text{
  margin: 30px 0px 30px 0px;	
  padding: 10px;
  background: rgba(0,0,0,0.5);
  display: inline-block;
}